<!DOCTYPE html>
<html lang = "pl" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Organizer Finansów Domowych</title>
    <link rel="stylesheet" type="text/css" th:href="@{/css/main.css}">
    <link rel="icon" type="image/png" th:href="@{/img/logoSmall.png}">
    <script type="text/javascript" src="/webjars/jquery/jquery.min.js"></script>
    <script type="text/javascript" src="/webjars/bootstrap/js/bootstrap.min.js"></script>
    
</head>
<body>
<div class="container">
    <h1 style="height: 430px; margin-top: auto; margin-bottom: auto;"><img src="img/logoBig.svg" alt="logo aplikacji"></h1>
    <button onclick="toLogin()" style="margin: 15px 23px; float: left;">LOGOWANIE</button>
    <button onclick="toSignUp()" style="margin: 15px 23px;">REJESTRACJA</button>
    
</div>

<script>
function toLogin(){
		window.location.replace("/login");
		}
</script>
<script>
    function toSignUp(){
		window.location.replace("/signup");
        }
</script>
</body>
</html>