<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Organizer Finansów Domowych</title>
    <link rel="stylesheet" type="text/css" href="/webjars/bootstrap/css/bootstrap.min.css"/>
    <script type="text/javascript" src="/webjars/jquery/jquery.min.js"></script>
    <script type="text/javascript" src="/webjars/bootstrap/js/bootstrap.min.js"></script>
</head>
<body>
<div class="container text-center">
    <p>Witaj, [[${#request.userPrincipal.principal.username}]]</p>
    <p>Statystyki z ostatnich 30 dni:</p>
    <p>Przychody:</p>
    <h3 style="color:green;" th:text = "${income30}"></h3>
    <p>Wydatki:</p>
    <h3 style="color:red;" th:text = "${expenditure30}"></h3>
	<p th:if = "${criticalExpenditure.isEmpty()} == true">Brak istotnych wydatków w ciągu najbliższych 21 dni</p>
	<table style="margin: 0 auto;" th:if = "${criticalExpenditure.isEmpty()} == false">
		<tr>
			<td>Istotne wydatki nadchodzące w ciągu najbliższych 21 dni:</td>
		</tr>
		<tr th:each = "cexp : ${criticalExpenditure}">
			<td th:text = "'Kwota ' + ${cexp.amount} + ' w dniu ' + ${cexp.date} + ' (' + ${cexp.description} + ', kategoria: ' + ${cexp.category} + ')'"></td>
		</tr>
	</table>
	<table style="margin: 0 auto;">
		<tr>
			<td><a th:href="@{/view}">Wyświetl</a></td>
		</tr>
		<tr>
			<td><a th:href="@{/input}">Dodaj</a></td>
		</tr>
	</table>
	<form th:action="@{/logout}" method="post">
		<button type="submit" style = "background:none; border:none; outline:none;">Wyloguj</button>
	</form>
</div>

</body>
</html>