<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Rejestracja zakończona sukcesem</title>
    <link rel="stylesheet" type="text/css" href="/css/loginAndRegister.css"/>
    <link rel="icon" type="image/png" href = "img/logoSmall.png">
    <script type="text/javascript" src="/webjars/jquery/jquery.min.js"></script>
    <script type="text/javascript" src="/webjars/bootstrap/js/bootstrap.min.js"></script>
</head>
<body>
<div class="container">
    <h1>SUKCES</h1>
    <a th:href="@{/login}">Kliknij, aby się zalogować</a>
</div>

</body>
</html>
