<!DOCTYPE>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Rejestracja: Organizer Finansów Domowych</title>
    <link rel="stylesheet" type="text/css" th:href="@{/css/loginAndRegister.css}">
    <link rel="icon" type="image/png" th:href="@{/img/logoSmall.png}">
</head>
<body>
    <div class="container text-center"></div>
    <H1> REJESTRACJA</H1>
    <div>
    <form th:action="@{/processSignUp}" method="post" th:object="${user}">
        <input placeholder="e-mail" type="email" th:field="*{email}" class="form-control" required />
        <input placeholder="hasło" type="password" th:field="*{password}" class="form-control" required minlength="6" maxlength="10"/>
        <input placeholder="nazwa użytkownika" type="text" th:field="*{username}" class="form-control" required minlength="2" maxlength="20"/>
        <button type="submit" class="btn btn-primary">REJESTRACJA</button>
    </form>
    <p><a th:href="@{/login}">Masz już konto? Zaloguj się!</a></p>
    </div></div>
</body>
</html>