<!DOCTYPE html>
<html lang = "pl" xmlns:th = "http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Odmowa dostępu - Błąd 403: Organizer Finansów Domowych</title>
    <link rel="stylesheet" type="text/css" th:href="@{ss/errors_style.css}"/>
    <link rel="icon" type="image/png" th:href="@{img/logoSmall.png}">
</head>
<body>
<div class="container text-center">
    <img
    src="img/error_403.svg"
    alt="ODMOWA DOSTĘPU"
    height="600"
    width="600" />
</div>

</body>
</html>