<!DOCTYPE html>
<html lang = "pl" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Błąd serwera - Błąd 500: Organizer Finansów Domowych</title>
    <link rel="stylesheet" type="text/css" th:href="@{/css/errors_style.css}"/>
    <link rel="icon" type="image/png" th:href="@{/img/logoSmall.png}">
</head>
<body>
    <img
    src="img/error_500.svg"
    alt="BŁĄD SERWERA"
    height="400"
    width="400" />
    <div><br><H1>Przepraszamy, błąd serwera... spróbuj później</H1></div>
</body>
</html>